  /*===========Aninmation */
.container_cover {
  width: 100%;
  height:100% ;
}

.animation-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.animation-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  animation: animate 20s linear infinite;
  bottom: -150px;
}

.animation-area li:nth-child(1) {
  left: 5%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.animation-area li:nth-child(2) {
  left: 95%;
  width: 50px;
  height: 50px;
  animation-delay: 1s;
  animation-duration: 10s;
}

.animation-area li:nth-child(3) {
  left: 45%;
  width: 100px;
  height: 100px;
  animation-delay: 2s;
}

.animation-area li:nth-child(4) {
  left: 75%;
  width: 50px;
  height: 50px;
  animation-delay: 3s;
  /* animtion-duration: 15s; */
}

.animation-area li:nth-child(5) {
  left: 15%;
  width: 80px;
  height: 80px;
  animation-delay: 4s;
}

.animation-area li:nth-child(6) {
  left: 85%;
  width: 120px;
  height: 120px;
  animation-delay: 5s;
}
.animation-area li:nth-child(7) {
  left: 30%;
  width: 120px;
  height: 120px;
  animation-delay: 6s;
}
.animation-area li:nth-child(8) {
  left: 60%;
  width: 120px;
  height: 120px;
  animation-delay: 7s;
}
.animation-area li:nth-child(9) {
  left: 20%;
  width: 120px;
  height: 120px;
  animation-delay: 8s;
}

.animation-area li:nth-child(10) {
  left: 50%;
  width: 120px;
  height: 120px;
  animation-delay: 9s;
}
.animation-area li:nth-child(11) {
  left: 90%;
  width: 120px;
  height: 120px;
  animation-delay: 10s;
}
.animation-area li:nth-child(12) {
  left: 10%;
  width: 120px;
  height: 120px;
  animation-delay: 11s;
}
.animation-area li:nth-child(13) {
  left: 80%;
  width: 120px;
  height: 120px;
  animation-delay: 12s;
}
.animation-area li:nth-child(14) {
  left: 40%;
  width: 120px;
  height: 120px;
  animation-delay: 13s;
}
.animation-area li:nth-child(15) {
  left: 75%;
  width: 120px;
  height: 120px;
  animation-delay: 14s;
}
.animation-area li:nth-child(16) {
  left: 30%;
  width: 120px;
  height: 120px;
  animation-delay: 15s;
}
.animation-area li:nth-child(17) {
  left: 95%;
  width: 120px;
  height: 120px;
  animation-delay: 16s;
}
.animation-area li:nth-child(18) {
  left: 45%;
  width: 120px;
  height: 120px;
  animation-delay: 17s;
}
.animation-area li:nth-child(19) {
  left: 75%;
  width: 120px;
  height: 120px;
  animation-delay: 18s;
}
.animation-area li:nth-child(20) {
  left: 15%;
  width: 120px;
  height: 120px;
  animation-delay: 19s;
}
.animation-area li:nth-child(21) {
  left: 85%;
  width: 120px;
  height: 120px;
  animation-delay: 20s;
}
.animation-area li:nth-child(22) {
  left: 30%;
  width: 120px;
  height: 120px;
  animation-delay: 21s;
}
.animation-area li:nth-child(23) {
  left: 60%;
  width: 120px;
  height: 120px;
  animation-delay: 22s;
}
.animation-area li:nth-child(24) {
  left: 20%;
  width: 120px;
  height: 120px;
  animation-delay: 23s;
}
.animation-area li:nth-child(25) {
  left: 80%;
  width: 120px;
  height: 120px;
  animation-delay: 24s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  
  100% {
    transform: translateY(-800px) rotate(180deg);
    opacity: 0
  }
}
/*================================================================*/
 /* Counter Up files  */
.counter-section
{
    /* margin: 10% auto; */
    color: black;
}
.icon-box1
{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 20px auto;
    transform: rotate(45deg);
}
.icon-box1 .fa
{
    font-size: 40px;
    margin: 25px auto;
    color: #ef7f4d;
    transform: rotate(-45deg);

}
.counter-box p
{
font-size: 20px;
}
.counter-box .counter
{
font-size: 80px;
}

/*==================== Full page background Image =====================*/

.bg {
  /* The image used */
  background-image: url("img/raichur/1.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*=================== Image grid ====================================*/

#grid .row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
#grid .column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

#grid .column img {
  margin-top: 8px;
  vertical-align: middle;
}

